body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    width: 400px;
}

.display {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #eee;
    text-align: right;
    font-size: 2em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow-x: auto;
    position: relative;
}

#mode {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 0.5em;
    color: #888;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

button {
    height: 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
}

button:hover {
    background-color: #eee;
}